<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alunos Candidatos</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
</head>
<body>
<div class="container mt-4">
    <h1>Alunos Candidatos</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>CPF</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aluno : ${alunos}">
            <td th:text="${aluno.id}"></td>
            <td th:text="${aluno.nome}"></td>
            <td th:text="${aluno.matricula}"></td>
            <td th:text="${aluno.cpf}"></td>
            <td>
                <a th:href="@{/coordenador/alunos-candidatos/{id}(id=${aluno.id})}" class="btn btn-info">Ver Detalhes</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
