<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Alunos Candidatos</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/home.css">
    <meta th:insert="~{/home :: headfiles}">
</head>

<body class="d-flex flex-column min-vh-100">

<div th:replace="~{/home :: header}"></div>

<main class="flex-fill">
    <div class="content">
        <h1>Alunos Candidatos</h1>

        <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>CPF</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aluno : ${alunos}">
                    <td th:text="${aluno.id}"></td>
                    <td th:text="${aluno.nome}"></td>
                    <td th:text="${aluno.matricula}"></td>
                    <td th:text="${aluno.cpf}"></td>
                    <td>
                        <a th:href="@{/coordenador/alunos-candidatos/{id}(id=${aluno.id})}" class="btn btn-info">Ver Detalhes</a>
                    </td>
                </tr>

                </tbody>
            </table>
        <div>
            <span>Page <span th:text="${alunos.number + 1}">1</span> of <span th:text="${alunos.totalPages}">1</span></span>
            <div>
                <a th:if="${alunos.hasPrevious()}" th:href="@{/alunos-candidatos(page=${alunos.number - 1})}">Previous</a>
                <a th:if="${alunos.hasNext()}" th:href="@{/alunos-candidatos(page=${alunos.number + 1})}">Next</a>
            </div>
        </div>
        </div>
    </div>
</main>

<div th:replace="~{/home :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>
