<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Empresas</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <meta th:insert="~{/home :: headfiles}">
</head>

<body class="d-flex flex-column min-vh-100">

<div th:replace="~{/home :: header}"></div>

<main class="flex-fill">
    <div class="container mt-4">
        <h1>Lista de Empresas</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nome</th>
                <th>CNPJ</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="empresa : ${empresas}">
                <td th:text="${empresa.nome}">Nome</td>
                <td th:text="${empresa.cnpj}">CNPJ</td>
                <td>
                    <a th:href="@{/coordenador/empresas/{id}(id=${empresa.id})}" class="btn btn-primary">Ver Detalhes</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<div th:replace="~{/home :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>
