html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #00998c;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.header img {
    width: 100px;
    height: 80px;
    margin-right: 20px;
}

.header span {
    font-size: 36px;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(119, 236, 226, 0.43);
    color: white;
}
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    color: black;
}
.content p {
    line-height: 1.8;
    font-size: 16px;
}

h1 {
    line-height: 1.5;
    font-size: 35px;
}
.navbar {
    background-color: #0c5953;
    padding: 10px 0;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
.navbar a:hover {
    text-decoration: underline;
}
footer {
    background-color: #00998c;
    color: white;
    text-align: center;
    padding: 15px 0;
}