<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Página Inicial</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
</head>
<body>
<div class="container mt-4">
  <h1>Bem-vindo ao Sistema de Estágio ArmAnts</h1>
  <div class="list-group mt-4">
    <a href="/aluno/novo" class="list-group-item list-group-item-action">Acesso Aluno</a>
    <a href="/empresas/novo" class="list-group-item list-group-item-action">Acesso Empresa</a>
    <a href="/coordenador/alunos-candidatos" class="list-group-item list-group-item-action">Listagem alunos (Acesso Coordenador)</a>
    <a href="/coordenador/ofertas-estagio" class="list-group-item list-group-item-action">Listagem ofertas de estágio (Acesso Coordenador)</a>
    <a href="/coordenador/empresas" class="list-group-item list-group-item-action">Listagem Empresas (Acesso Coordenador)</a>
  </div>
</div>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
