<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head th:fragment="headfiles">
  <title>ArmyAnts</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
  <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>


<div class="container-fluid" th:fragment="header">
  <header class="header">
    <div>
      <img th:src="@{/imagens/ArmAnts.png}" width="50" height="50" alt="ArmAnts"/>
      <span>ArmyAnts</span>
    </div>
  </header>

  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a th:href="@{/}">Home</a>
      <a th:href="@{/aluno/novo}">Cadastro Alunos</a>
      <a th:href="@{/empresas/novo}">Cadastro Empresas</a>
      <a th:href="@{/coordenador/alunos-candidatos}">Listagem Alunos</a>
      <a th:href="@{/coordenador/ofertas-estagio}">Ofertas de Estágio</a>
      <a th:href="@{/coordenador/empresas}">Listagem Empresas</a>
      <a th:href="@{/auth/login?logout}">Sair</a>
    </div>
  </nav>

</div>

<div class="content">
  <div>
    <h1>Bem-vindo ao Sistema de Estágio ArmyAnts</h1>
    <p>Aqui o seu talento encontra oportunidades!</p>
  </div>
</div>

<footer class="footer" th:fragment="footer">
  <span>&copy; 2024 ArmyAnts - IFPB</span>
</footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
